* {
  box-sizing: border-box;
}

:root {
  --main-color: black;
  --light--color: white;
  --tertiary-color: gray;
  --main-font: "Montserrat", sans-serif;
}

html {
  font-family: var(--main-font);
  font-size: 18px;
}

.wrapper {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 15px;
}

/* BLOG HEADER */

.header-menu {
  background-color: black;
  color: white;
  display: block;
  align-items: center;
}

.header-menu .wrapper {
  border: solid 1px red;
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.right-menu {
  list-style-type: none;
}

.right-menu li {
  display: inline-block;
  padding: 10px;
}

/* BLOG BODY */

.blog-post-header {
  border: 1px solid green;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.blog-body .wrapper {
  border: solid 1px red;
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.blog-body {
  border: 1px solid red;
  width: 100%;
  line-height: 1.5rem;
}

.blog-body p {
  padding: 20px;
  color: var(--tertiary-color);
}
/* FOOTER */

.footer-box {
  width: 100%;
  position: fixed;
  align-items: center;
  bottom: 0;
  z-index: 990;
  background-color: white;
  border: 1px solid purple;
}
