* {
  box-sizing: border-box;
}
.div1 {
  height: 300px;
  width: 300px;
  margin: 40px;
  padding: 30px;
  background-color: turquoise;
  position: relative;
  left: 100px;
  top: 50px;
}

.div2 {
  height: 300px;
  width: 300px;
  margin: 40px;
  padding: 30px;
  background-color: pink;
  position: relative;
  right: 150px;
  bottom: 320px;
}

.div3 {
  height: 300px;
  width: 300px;
  margin: 40px;
  padding: 30px;
  background-color: lightcoral;
  position: relative;
  left: 180px;
  bottom: 240px;
}
